
<!DOCTYPE html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
       <style>
body{
    background-color:cyan;
    margin: auto;
    /* text-align: center; */
}

h1{
    font-family:chiller;
    font-size:35px;
    text-align:center;
    border: 1px solid black;
}

p{
    font-family:verdana;
    font-size:20px;
    text-align:center;
}
       </style>
    </head>
    <body>

          <h1>UBER-EATS</h1>

        <p>Welcome to the uber-eats app where you can order for any fast food and get delivered to your door</p>
        
        <h1>PLEASE LOGIN</h1>
        <div>
                <form action="" method="post">
                    <input type= "text" placeholder = "username" name="username" value = "{{request.form.username}}">
                    <input type= "text" placeholder = "password" name="password" value = "{{request.form.password}}">
                    <input class = "btn btn-default" type="submit" value="login">
                </form>
          
            {% if error %}
            <p class="error"><strong>Error:</strong> {{ error }}</p>
            {% endif %}
        </div>
        
    </body>
</html>
